In [1]:
n=5
for i in range(n):
    for j in range(i+1):
        print("1",end=" ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [2]:
n=5
for i in range(n):
    for j in range(i+1):
        print("@",end=" ")
    print()

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @

In [3]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print("&",end=" ")
    print()

  & & & & &
    & & & &
      & & &
        & &
          &

In [10]:
#Hill pattern
n=5
for i in range(n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(i):
        print("4",end=" ")
    for j in range(i+1):
        print("5",end=" ")
    print()

        5
      4 5 5
    4 4 5 5 5
  4 4 4 5 5 5 5
4 4 4 4 5 5 5 5 5

In [8]:
#Reverse hill pattern
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print("1",end=" ")
    for j in range(i,n-1):
        print("2",end=" ")
    print()

  1 1 1 1 1 2 2 2 2
    1 1 1 1 2 2 2
      1 1 1 2 2
        1 1 2
          1

In [14]:
#Diamond pattern
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("1",end=" ")
    for j in range(i+1):
        print("2",end=" ")  
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("3",end=" ")
    for j in range(i,n):
        print("4",end=" ")
    print()

          2
        1 2 2
      1 1 2 2 2
    1 1 1 2 2 2 2
  3 3 3 3 4 4 4 4 4
    3 3 3 4 4 4 4
      3 3 4 4 4
        3 4 4
          4

In [15]:
n=5
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p+=1    
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [16]:
n=5
p=1
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p+=1    
    print()

  1 1 1 1 1
    2 2 2 2
      3 3 3
        4 4
          5

In [17]:
#Hill pattern
n=5
p=1
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p+=1    
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5

In [18]:
#Reverse Hill Pattern
n=5
p=1
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p+=1    
    print()

  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5

In [20]:
#Diamond pattern
n=5
p=1
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p+=1    
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p+=1    
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [21]:
n=5
p=5
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p-=1    
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [22]:
n=5
p=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p-=1    
    print()

  5 5 5 5 5
    4 4 4 4
      3 3 3
        2 2
          1

In [23]:
#Hill pattern
n=5
p=5
for i in range(n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p-=1    
    print()

        5
      4 4 4
    3 3 3 3 3
  2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1

In [24]:
#Reverse hill pattern
n=5
p=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p-=1    
    print()

  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [34]:
#Diamond pattern
n=5
p=5
for i in range(n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p-=1    
    print()  
p=1  
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p+=1 
    print()

        5
      4 4 4
    3 3 3 3 3
  2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1
  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5

In [35]:
n=5
p=0
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p+=2    
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [36]:
n=5
p=0
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p+=2   
    print()

  0 0 0 0 0
    2 2 2 2
      4 4 4
        6 6
          8

In [38]:
#Hill pattern
n=5
p=0
for i in range(n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p+=2
    print()

        0
      2 2 2
    4 4 4 4 4
  6 6 6 6 6 6 6
8 8 8 8 8 8 8 8 8

In [39]:
#Reverse hill pattern
n=5
p=0
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p+=2   
    print()

  0 0 0 0 0 0 0 0 0
    2 2 2 2 2 2 2
      4 4 4 4 4
        6 6 6
          8

In [41]:
#Diamond pattern
n=5
p=0
for i in range(n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p+=2  
    print()  
p=0 
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p+=2
    print()

        0
      2 2 2
    4 4 4 4 4
  6 6 6 6 6 6 6
8 8 8 8 8 8 8 8 8
  0 0 0 0 0 0 0 0 0
    2 2 2 2 2 2 2
      4 4 4 4 4
        6 6 6
          8

In [42]:
n=5
for i in range(n):
    for j in range(i+1):
        if(i % 2 ==0):
            print("1",end=" ")
        else:
            print("2",end=" ")
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [43]:
n=5
for i in range(n):
    for j in range(i+1):
        if(i % 2 ==0):
            print("A",end=" ")
        else:
            print("B",end=" ")
    print()

A
B B
A A A
B B B B
A A A A A

In [44]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        if(i % 2==0):
            print("1",end=" ")
        else:
            print("3",end=" ")
    print()

  1 1 1 1 1
    3 3 3 3
      1 1 1
        3 3
          1

In [47]:
#Hill Pattern
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        if(i % 2==0):
            print("#",end=" ")
        else:
            print("$",end=" ")
    for j in range(i+1):
        if(i % 2==0):
            print("#",end=" ")
        else:
            print("$",end=" ")
    print()

          #
        $ $ $
      # # # # #
    $ $ $ $ $ $ $
  # # # # # # # # #

In [49]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        if(i % 2==0):
            print("1",end=" ")
        else:
            print("0",end=" ")
    for j in range(i,n):
        if(i % 2==0):
            print("1",end=" ")
        else:
            print("0",end=" ")
    print()

  1 1 1 1 1 1 1 1 1
    0 0 0 0 0 0 0
      1 1 1 1 1
        0 0 0
          1

In [50]:
n=5
p=1
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p+=1    
    print()
p=1
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p+=1    
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5

In [51]:
n=5
p=1
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
    for j in range(i+1):
        print(p,end=" ")
    p+=1    
    print()
p=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    for j in range(i,n):
        print(p,end=" ")
    p-=1   
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [52]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [53]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
        p+=1
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [55]:
n=5
for i in range(n):
    p=1
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p+=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [57]:
n=5
for i in range(n-1):
    p=1
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p+=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()
for i in range(n):
    p=1
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p+=1
    for j in range(i,n):
        print(p,end=" ")
        p+=1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9
    1 2 3 4 5 6 7
      1 2 3 4 5
        1 2 3
          1

In [58]:
n=5
for i in range(n):
    p=5
    for j in range(i+1):
        print(p,end=" ")
        p-=1
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [59]:
n=5
for i in range(n):
    p=5
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    print()

  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5

In [60]:
n=5
for i in range(n):
    p=5
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p-=1
    for j in range(i+1):
        print(p,end=" ")
        p-=1
    print()

          5
        5 4 3
      5 4 3 2 1
    5 4 3 2 1 0 -1
  5 4 3 2 1 0 -1 -2 -3

In [61]:
n=5
for i in range(n):
    p=5
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p-=1
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    print()

  5 4 3 2 1 0 -1 -2 -3
    5 4 3 2 1 0 -1
      5 4 3 2 1
        5 4 3
          5

In [62]:
n=5
for i in range(n):
    p=5
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p-=1
    for j in range(i+1):
        print(p,end=" ")
        p-=1
    print()
for i in range(n):
    p=5
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p-=1
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    print()

        5
      5 4 3
    5 4 3 2 1
  5 4 3 2 1 0 -1
5 4 3 2 1 0 -1 -2 -3
  5 4 3 2 1 0 -1 -2 -3
    5 4 3 2 1 0 -1
      5 4 3 2 1
        5 4 3
          5

In [63]:
n=5
k=5
for i in range(n):
    p=k
    for j in range(i+1):
        print(p,end=" ")
        p-=1
    k-=1    
    print()

5
4 3
3 2 1
2 1 0 -1
1 0 -1 -2 -3

In [64]:
n=5
k=5
for i in range(n):
    p=k
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    k-=1
    print()

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [70]:
n=5
k=10
for i in range(n):
    p=k
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p-=1
    for j in range(i+1):
        print(p,end=" ")
        p-=1
    k-=1    
    print()

          10
        9 8 7
      8 7 6 5 4
    7 6 5 4 3 2 1
  6 5 4 3 2 1 0 -1 -2

In [69]:
n=5
k=10
for i in range(n):
    p=k
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p-=1
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    k-=1
    print()

  10 9 8 7 6 5 4 3 2
    9 8 7 6 5 4 3
      8 7 6 5 4
        7 6 5
          6

In [71]:
n=5
k=10
for i in range(n):
    p=k
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p-=1
    for j in range(i+1):
        print(p,end=" ")
        p-=1
    k-=1    
    print()
k=10
for i in range(n):
    p=k
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p-=1
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    k-=1
    print()

        10
      9 8 7
    8 7 6 5 4
  7 6 5 4 3 2 1
6 5 4 3 2 1 0 -1 -2
  10 9 8 7 6 5 4 3 2
    9 8 7 6 5 4 3
      8 7 6 5 4
        7 6 5
          6

In [74]:
n=5
for i in range(n):
    p=1
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p+=1
    for j in range(i+1):
        print(p,end=" ")
        p-=1
    print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [75]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p+=1
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    print()

  1 2 3 4 5 4 3 2 1
    1 2 3 4 3 2 1
      1 2 3 2 1
        1 2 1
          1

In [76]:
n=5
for i in range(n-1):
    p=1
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p+=1
    for j in range(i+1):
        print(p,end=" ")
        p-=1
    print()
for i in range(n):
    p=1
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p+=1
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1
    1 2 3 4 3 2 1
      1 2 3 2 1
        1 2 1
          1

In [77]:
#Floyd Triangle
n=4
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [79]:
n=4
p=1
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
        p+=1
    print()

  1 2 3 4
    5 6 7
      8 9
        10

In [82]:
n=4
p=1
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p+=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

        1
      2 3 4
    5 6 7 8 9
  10 11 12 13 14 15 16

In [83]:
n=4
p=1
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p+=1
    for j in range(i,n):
        print(p,end=" ")
        p+=1
    print()

  1 2 3 4 5 6 7
    8 9 10 11 12
      13 14 15
        16

In [87]:
n=4
p=1
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(p,end=" ")
        p+=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()
p=10
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
        p-=1
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    print()

        1
      2 3 4
    5 6 7 8 9
  10 9 8 7 6 5 4
    3 2 1 0 -1
      -2 -3 -4
        -5